<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h2>Seekers</h2>
  <div class="collapse in navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/company/login">Company Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/user/login">User Login</a>
      </li>
    </ul>
    <ul *ngIf="isAuth && isUser">
      <li class="nav-item">
        <a class="btn btn-outline-secondary" routerLink="/user/profile" routerLinkActive="active">Profile</a>
      </li>
    </ul>
    <ul *ngIf="isAuth && isCompany">
      <li class="nav-item">
        <a class="btn btn-outline-secondary" routerLink="/company/profile" routerLinkActive="active">Profile</a>
      </li>
    </ul>
  </div>
  <div class="form-inline" *ngIf="isAuth">
    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
  </div>
</nav> -->

<!-- <app-main-nav></app-main-nav> -->

<ng4-loading-spinner [threshold]="10" [timeout]="99999999" [zIndex]="9999"></ng4-loading-spinner>

<router-outlet></router-outlet>
<footer class="footer">
<div class="footer-bottom-area bg-dark-light section-padding-sm">
    <div class="container">
        <div class="row widgets footer-widgets">

            <div class="footer-col col-lg-3 col-md-6 col-12">
                <div class="single-widget widget-about">
                    <h5 class="widget-title">About Us</h5>
                    <img src="images/others/about-widget-image.jpg" alt="about widget image">
                    <p>We are a team of designers and developers that create high quality <a href="www.dkstudio.in">Readmore...</a></p>
                </div>
            </div>

            <div class="footer-col col-lg-3 col-md-6 col-12">
                <div class="single-widget widget-quick-links">
                    <h5 class="widget-title">My Account</h5>
                    <ul>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Your Account</a></li>
                        <li><a href="#">Advanced Search</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-col col-lg-3 col-md-6 col-12">
                <div class="single-widget widget-quick-links">
                    <h5 class="widget-title">Customer Service</h5>
                    <ul>
                        <li><a href="#">Shipping Policy</a></li>
                        <li><a href="#">Compensation First</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-col col-lg-3 col-md-6 col-12">
                <div class="single-widget widget-contact">
                    <h5 class="widget-title">Contact Us</h5>
                    <ul>
                        <li class="address">
                            <span class="icon"><i class="fa fa-map-marker"></i></span>
                            <p>Address : No 100 Baria Sreet 100/2  Jaipur City, IN.</p>
                        </li>
                        <li class="phone">
                            <span class="icon"><i class="fa fa-phone"></i></span>
                            <p><a href="#">+91 7568 54 3012</a></p>
                        </li>
                        <li class="fax">
                            <span class="icon"><i class="fa fa-fax"></i></span>
                            <p><a href="#">+91 7568 54 3012</a></p>
                        </li>
                        <li class="email">
                            <span class="icon"><i class="fa fa-envelope-o"></i></span>
                            <p><a href="#">dkstudioin@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <p id="copyright" class="text-center">Copyright @2018 | By <a href="#">Seekers</a></p>
        </div>
    </div>
</div>



</footer>
