/* You can add global styles to this file, and also import other style files */
#logo {
  color: black;
}

#logo:hover {
  text-decoration: none;
}

.form-inline .btn-outline-danger {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .nav-item {
    margin-top: 10px;
  }
}
