<div class="container">
  <div class="card card-container">
      <div class="col-xs-12 text-center">
        <h2>Reset Password</h2>
      </div>
      <p>Enter your email to send a reset link</p>
      <form class="form-signin" #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm)">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="email" id="inputEmail" name="email" #email="ngModel" [(ngModel)]="Email" class="form-control" placeholder="Email address" required autofocus>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Reset</button>
      </form><!-- /form -->
  </div><!-- /card-container -->
</div>
